:host {
  display: flex;
  width: 100%;
}

.investment-fund {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  .investment-fund-table {
    margin: 0 1rem 1.5rem 1rem;
    flex: 1;
    overflow: auto;
  }

  mat-form-field {
    margin: 1.5rem 1rem 0 1rem;
  }
}

@media (min-width: 768px) {
  /* For desktop: */
  .investment-fund {
    .investment-fund-table {
      margin: 0 1.5rem 2rem 1.5rem;
    }

    mat-form-field {
      margin: 2rem 1.5rem 0.5rem 1.5rem;
    }
  }
}
