:host {
  display: flex;
  height: 100%;
}

table {
  .hide-mobile {
    display: none;
  }

  th.right {
    direction: rtl;
  }

  td.right {
    text-align: right;
  }

  td.loading {
    position: relative;

    mat-spinner {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media (min-width: 768px) {
  /* For desktop: */
  table {
    .hide-mobile {
      display: table-cell;
    }
  }
}
